<div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3 gap-4 w-full justify-items-center mb-16">
    @for (ciudad of this.ciudades; track $index) {

        
         @if(ciudad.noche) {
            <div href="#"
            class="max-w-sm p-6 border rounded bg-gray-900 bg-opacity-45 border-white w-full flex items-center justify-center transition-all duration-300 ease-in-out shadow-[0px_0px_10px_0px_#000]">
            
            <div class="text-center">
                <h5 class="mb-3 text-4xl text-rose-200 font-semibold">{{ ciudad.time }}</h5>
                <p class="mb-5 text-2xl font-bold tracking-tight text-white">{{ ciudad.nombre }}</p>
                <p class="text-rose-400">{{ ciudad.timeZone }}</p>
            </div>
            </div>
        }
        @else {
            <div href="#"
            class="max-w-sm p-6 border rounded bg-rose-900 bg-opacity-45 border-white w-full flex items-center justify-center transition-all duration-300 ease-in-out shadow-[0px_0px_10px_0px_#FFFF00]">
            
            <div class="text-center">
                <h5 class="mb-3 text-4xl text-rose-200 font-semibold">{{ ciudad.time }}</h5>
                <p class="mb-5 text-2xl font-bold tracking-tight text-white">{{ ciudad.nombre }}</p>
                <p class="text-rose-400">{{ ciudad.timeZone }}</p>
            </div>
            </div>
        }
        

    }
</div>